<h1>Custom directives</h1>

<!--<app-dynamic-example/>-->


<!-- let item = some name is not type saved-->
<!--<div *appExample="isShown">-->
<!--  Hello {{isShown}}-->
<!--</div>-->

<!--<ng-container *appExample="isShown; item as value">-->
<!--  Hello {{isShown}} {{value}}-->
<!--</ng-container>-->


<!--<button (click)="isShown = !isShown">Click Me</button>-->

<!--<div *appExample="true, let item=item">-->
<!--  Hello {{item}}-->
<!--</div>-->

<!--<ng-container *appExample="true; item as item">Hello {{item}}</ng-container>-->

<div *carousel="let source from images; let ctrl = controller">
  <img [src]="source" height="200" (click)="ctrl.next()">
  <br>
  <button (click)="ctrl.prev()">&laquo;</button>
  <button (click)="ctrl.next()">&raquo;</button>
</div>


<!--<ul *appTrigonometry="30; sin as s; cos as c; tan as t">-->
<!--  <li>sin(30°): {{ s }}</li>-->
<!--  <li>cos(30°): {{ c }}</li>-->
<!--  <li>tan(30°): {{ t }}</li>-->
<!--</ul>-->


<!--<div *math="10; exponent: 3;-->
<!--            let input;-->
<!--            let exponent = exponent;-->
<!--            let r = root;-->
<!--            let p = power;-->
<!--            let ctrl = controller"-->
<!--&gt;-->
<!--  input: {{ input }}, exponent = {{ exponent }}<br/>-->
<!--  root = {{ input }}<sup>1/{{ exponent }}</sup> = {{ r }}<br/>-->
<!--  power = {{ input }}<sup>{{ exponent }}</sup> = {{ p }}<br/><br/>-->

<!--  <button (click)="ctrl.increment()">increment input</button>-->
<!--</div>-->

